<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/axios.min.js}"></script>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>
	
	<main>
		<form id="writeForm">
			<input type="hidden" id="cate" value="1000" readonly />
			<input type="hidden" id="idx" th:value="${boardVO.idx}" readonly />
			<div>
				<label for="title">제목</label>
				<input type="text" id="title" th:value="${boardVO.title}" />
			</div>
			<div>
				<label for="content">내용</label>
				<input type="text" id="content" th:value="${boardVO.content}" />
			</div>
			<button type="button" id="btnSave">저장</button>
			<a href="/board/list">취소</a>
		</form>
	</main>
	
	<script>
		document.querySelector('#btnSave').addEventListener('click', function(){
			// axios post
			axios.put('/api/board/update', {
					idx: document.querySelector('#idx').value,
					cate: document.querySelector('#cate').value,
					title: document.querySelector('#title').value,
					content: document.querySelector('#content').value,
				})
				.then((res) => {
					console.log(res);
					const {message} = res;
					if (message) alert(message);
				})
				.catch((error) => {
					console.log(error.response.data);
				})
				.finally(() => {
					// do something
				});
		});
	</script>
	
	
	<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>