<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

	<!-- C: insert -->
	<insert 
		id="insertBoard" 
		parameterType="com.example.demo.vo.BoardVO"
		useGeneratedKeys="true"
		keyColumn="idx"
		keyProperty="idx"
	>
	INSERT INTO BOARD (
			CATE
			, TITLE
			, CONTENT
			, REGID
			, UPDID
			, FILE_MST_ID
		) VALUES (
			#{cate}
			, #{title}
			, #{content}
			, #{regID}
			, #{regID}
			, #{fileMstId}
		)
	</insert>
	
	<!-- R: select list -->
	<select id="selectList" parameterType="com.example.demo.vo.BoardVO" resultType="com.example.demo.vo.BoardVO">
		SELECT * FROM BOARD 
		<where>
			<if test="cate != '' and !cate.equals('')">
				and CATE = #{cate}
			</if>
			<if test="title != '' and !title.equals('')">
				and TITLE LIKE '%' || #{title} || '%'
			</if>
		</where>
		ORDER BY REGDATE DESC
	</select>
	
	<select id="selectOne" parameterType="Long" resultType="com.example.demo.vo.BoardVO">
		SELECT A.*, B.* FROM BOARD A 
		LEFT OUTER JOIN FILE_MASTER B ON A.FILE_MST_ID = B.FILE_MST_ID
		WHERE A.IDX = #{idx}
	</select>
	
	<!-- U: update -->
	<update id="update" parameterType="com.example.demo.vo.BoardVO">
		UPDATE BOARD 
		<set>
			<if test="cate != '' and !cate.equals('')">
				, cate = #{cate}
			</if>
			<if test="title != '' and !title.equals('')">
				, title = #{title}
			</if>
			<if test="content != '' and !content.equals('')">
				, content = #{content}
			</if>
		</set>
		, updID = #{updID}
		, updDATE = SYSDATE
		WHERE IDX = #{idx}
	</update>
	
	<!-- D: delete -->
	<delete id="delete" parameterType="Long">
		DELETE FROM MEMBER WHERE IDX = #{idx}
	</delete>

</mapper>